/* Genel Stil */
body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #ffffff;
  color: #a3a3a3;
}

h1,
h2,
h3 {
  color: #000000;
}

a {
  text-decoration: none;
  color: #3498db;
}

a:hover {
  color: #2980b9;
}

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Butonlar */
button {
  background-color: #6a11cb;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2575fc;
}

/* Anime Listesi */
.anime-list {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  ); /* Kartları eşit genişlikte tut */
  gap: 20px;
}

.anime-card {
  text-align: center;
  min-height: 400px; /* Sabit yükseklik */
  background: #2a2a2a;
  border-radius: 10px;
  overflow: hidden; /* Resmin taşmasını engelle */
  box-shadow: 0 5px 20px rgba(253, 0, 0, 0.459);
}

.anime-card img {
  width: 100%;
  margin-left: 0px;
  height: 500px; /* Resim yüksekliği sabit */
  object-fit: cover; /* Resmi keserek sığdır */
  border-radius: 0px 0px 0 0;
}

.anime-card-content {
  padding: 15px;
}

.anime-card h2 {
  font-size: 1.2rem;
  margin: 20px 0;
  color: #ff6b6b; /* Altın renk */
}

.anime-card p {
  font-size: 0.9rem;
  color: #ff6b6b;
  line-height: 1.4;
}

.anime-card:hover {
  transform: translateY(-5px);
}

/* Chat Odası */
.chat-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.chat-messages {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.chat-messages li {
  background: #ecf0f1;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Anime Detay Sayfası */
.anime-detail {
  background: #c3b9fc5d;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.anime-detail img {
  border-radius: 10px;
  margin-bottom: 20px;
}

.anime-detail h1 {
  margin-top: 0;
}

.comments {
  margin-top: 20px;
}

.comments ul {
  list-style: none;
  padding: 0;
}

.comments li {
  background: #ecf0f1;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Ana İçerik */
.main-content {
  margin-left: 70px; /* Kapalı sidebar genişliği */
  padding: 25px;
  transition: margin-left 0.3s ease;
}

.sidebar.open + .main-content {
  margin-left: 300px; /* Açık sidebar genişliği */
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 10;
  }

  .sidebar.open + .main-content {
    margin-left: 0;
  }
}

.main-content {
  margin-top: 60px; /* Logo çubuğu yüksekliği kadar boşluk */
  padding: 20px;
  transition: margin-left 0.3s ease;
}

/* Sidebar açıkken ana içeriği kaydır */
@media (min-width: 769px) {
  .sidebar.open + .main-content {
    margin-left: 250px;
  }
}
